body{
    
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.fitness-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.text-area{
    width: 50%;
    margin: 20px 20px;
    padding-left:5% ;

}
.text-area h1{
font-size: 40px;
}
.text-area span{
    color: crimson;
}
p{
    padding-top: 15px;
    padding-bottom: 20px;
}
.btn{
    margin: 5px 12px;
    padding: 15px 30px;
    background: crimson;
    color:#000;
    box-shadow: 10px 9px 47px #ab6262;
    background-image: linear-gradient(crimson,rgb(230, 117, 135));
    margin-top: 20px;
    border-radius: 30px;
    transition: 5s background ,color;
    /* margin-bottom: 10%; */
}
.btn:hover{
color: crimson;
background: transparent;
border: 2px solid crimson;
cursor: pointer;
}

a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}

.img-area img{
    width: 80%;
    padding-left: 10%;
    padding-top: 5%;
}

/* ///2nd section// */
.About-Me{
    /* width: 100%;
    height: 100vh; */
    background-image: url(images/redf.jpg);
    background-repeat: no repeat;
    background-position: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-img img{
    width: 50%;
    /* width: 80%; */
    padding-left: 10%;
    padding-top: 5%;
}
.About-text{
    width: 50%;
}
/* 3rd section// */

.recipie-head h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.recipie-head p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.recipe-text{
    width: 400px;
    height: 481px;
    background: #fff;
    border-radius: 20px;
    padding: 11px 15px;
    box-shadow: 10px 10px 30px gray;
}
.recipe-text img{
    width: 380px;
    height: 300px;
    padding: 10px 13px;
    /* padding-bottom: 5px; */
    /* border-radius: 70px; */
    
}
.recipe-text p{
padding-left: 10%;
padding-top: 0;
padding-right: 10%;
}
h2{
    padding-top: 25px;
   font-size: 35px;
    font-weight: 700;
    color: crimson;
}
.recipe-text h3{
    padding-left: 10%;
    font-weight: 700;
    color: crimson;
}
.recipie-head p{
    padding-left: 20%;
    padding-right: 20%;
}
.recipe{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10%;


}

/* 4th section// */

.social-media{
    width: 90% ;
    height: 60%;
    /* padding-left: 10%; */
    padding: 49px 20px
    ;
    margin: auto;
    /* margin-left: 10%; */
    margin-bottom: 10%;
    border-radius: 10px;
    background: #f0d8d8;
    box-shadow: 10px 10px 40px gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.social-media h3{
    padding: 0 20px ;
    margin-left: -60px;
    color: crimson;
}

/* 5th section/// */
.footer{
width: 100%;
height: 200px;
background: #1a0303;
color: #fff;
/* margin-bottom: 10%; */

}
.footer h4{
    font-size: x-large;
    display: flex;
align-items: center;
justify-content: center;
color: rgb(199, 195, 195);
/* margin: 2%; */
padding-top: 30px;

}
.footer p{
    padding-top: 0;
    margin-top: 0px;
    display: flex;
align-items: center;
justify-content: center;
}
.footer span{
    padding: 8px 7px;
    /* padding-top: 2%; */
    margin-top: 20px 10px;
}